.text-indigo{
    color:var(--bs-indigo);
}
.btn-indigo{
    background-color:var(--bs-indigo);
}
.btn-indigo:hover{
    background-color:var(--bs-indigo);
}
a.text-indigo:hover{
    background-color:#b99ee6;
}
.background-nav{
    background-color: #ebeff3;
}
.border-indigo{
    border-color:var(--bs-indigo);
}
.border-none{
    border:none;
}

body{
    overflow-x: hidden;
}
.rounded-pill .form-control,
.rounded-pill .input-group-text {
border-radius: 50rem;
background-color:transparent
}

